<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration>

	<!-- XML Mapper이용시 parameterType이나 resultType패키지까지 포함된 클래스명을 줄여줌 -->
	<typeAliases>
		<package name="org.zerock.domain"/>
	
	</typeAliases>

</configuration>





